<footer class="bg-orange-500 text-white body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row justify-center items-center">
    <a class="flex title-font font-medium items-center md:justify-start justify-center mr-3 mb-3">
      <%= link_to '利用規約', terms_path, class: 'hover:underline' %>
    </a>
    <a class="flex title-font font-medium items-center md:justify-start justify-center mr-3 mb-3">
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'hover:underline' %>
    </a>
    <a class="flex title-font font-medium items-center md:justify-start justify-center mr-3 mb-3">
      <%= link_to 'https://twitter.com/kengo41' do %>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 24 24">
          <path d="M10.053,7.988l5.631,8.024h-1.497L8.566,7.988H10.053z M21,7v10	c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V7c0-2.209,1.791-4,4-4h10C19.209,3,21,4.791,21,7z M17.538,17l-4.186-5.99L16.774,7	h-1.311l-2.704,3.16L10.552,7H6.702l3.941,5.633L6.906,17h1.333l3.001-3.516L13.698,17H17.538z"></path>
        </svg>
      <% end %>
    </a>
    <p class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 - All right reserved by ご当地ぐるめっと</p>
  </div>
</footer>