<header class="bg-orange-500 p-4">
  <nav class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <%= image_tag 'logo.png', class: 'h-10- w-10 mr-2' %>
      <%= image_tag 'name.png', class: 'h-10 w-30 mr-2' %>
    </div>
    <ul class="flex space-x-4 text-white">
      <li><a href="#" class="hover:text-orange-300">今すぐ探す</a></li>
      <li><a href="#" class="hover:text-orange-300">ご当地グルメを見る</a></li>
      <li><a href="#" class="hover:text-orange-300">ログイン</a></li>
    </ul>
  </nav>
</header>